body{
    font-size: 64px;
    background: lightsalmon;
    border-radius: 20%;
    align-items: center;
    justify-items: center;
    height: 90vh;
    width: 90vw;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
}

.botao{
    margin-top: 40px;
}